html, body {
  height: 100%;
  width: 100%;
  max-width: 900px;
  background-color: #ddd;
  font-family: 'Martel', serif;
  font-size: 16px;
  margin: auto;
}

.container-fluid {
  height: 100%;
}

h3 {
  text-align: right;
  padding: .5rem;
  height: 15%;
  margin: auto;
  display: table;
  width: 100%;
  font-size: 1.4rem;
}

h3 div {
  display: table-cell;
  vertical-align: middle;
  margin: auto;
  text-align: center;
}

#plot {
  height: 70%;
  width: 100%;
  margin-top: 15%;
  position: relative;
}

#general_info {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 220px;
  text-align: right;
}

.container-menu {
  display: table;
  text-align: center;
  width: 100%;
  height: 15%;
}

#dist_list {
  display: table-cell;
  vertical-align: middle;
  list-style-type: none;
  margin: auto;
  padding: .5em;
  width: 100%;
  font-size: 1rem;
  text-align: center;
}

#dist_list li {
  text-align: center;
  padding: .2em .4em;
  display:inline-block; 
  border: solid .15em #ccc;
  margin: .1em;
  border-radius: 5px;
}

#dist_list li:hover {
  background-color: #66b2b2;
  color: white;
  cursor: pointer;
}

.active {
  background-color: #008080;
  color: white;
}

/* This is the navbar css */
.navbar-brand {
  font-size: 22px;
  position: absolute;
  bottom: 0;
}

.link-icon {
  height: 22px;
}

.navbar-right {
  float: right;
}

.navbar-title {
  font-size: 30px;
  color: #008080;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  display: block;
  text-align: center;
}

.navbar-right li:hover {
  background-color: #66b2b2;
  color: white;
  cursor: pointer;
}
/* ********************** */